section {
    margin: 15px 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0%;
}

h1 {
    font-family: sans-serif;
    font-size: xx-large;
    margin: 15px;
}

.subtitle {
    margin: auto;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 150;
}