section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0%;
}

h1 {
    font: var(--mat-sys-display-medium);
    margin: 15px;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 5px;
}

.subtitle {
    margin: 0;
    margin-bottom: 15px;
}

p.text {
    font: var(--mat-sys-title-medium);
    text-align: center;
}

.headers-align {
    margin-left: 8px;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}