<mat-toolbar [ngClass]="{'dark': isDarkTheme, 'light': !isDarkTheme}" cdkMenu>
    <mat-toolbar-row *ngIf="responsiveService.currentScreenSize != 'Small' && responsiveService.currentScreenSize != 'XSmall'">
        <a routerLink="/" mat-button cdkMenuItem>DHT Connect</a>
        <a routerLink="/construire-un-capteur" mat-button cdkMenuItem>Construire un capteur</a>
        <a routerLink="/nous-contacter" mat-button cdkMenuItem>Nous contacter</a>
        <span class="spacer"></span>
        <button mat-icon-button (click)="switchTheme()" cdkMenuItem>
            <mat-icon *ngIf="!isDarkTheme">dark_mode</mat-icon>
            <mat-icon *ngIf="isDarkTheme">light_mode</mat-icon>
        </button>
        <button mat-button class="download-button" (click)="openDialog()"
            cdkMenuItem><mat-icon>download</mat-icon>Télécharger</button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="responsiveService.currentScreenSize == 'Small' || responsiveService.currentScreenSize == 'XSmall'">
        <a routerLink="/" mat-button cdkMenuItem>DHT Connect</a>
        <span class="spacer"></span>
        <button mat-icon-button (click)="switchTheme()" cdkMenuItem>
            <mat-icon *ngIf="!isDarkTheme">dark_mode</mat-icon>
            <mat-icon *ngIf="isDarkTheme">light_mode</mat-icon>
        </button>
        <button mat-icon-button class="download-button" (click)="openDialog()"
            cdkMenuItem><mat-icon>download</mat-icon></button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="responsiveService.currentScreenSize == 'Small' || responsiveService.currentScreenSize == 'XSmall'">
        <span class="spacer"></span>
        <a routerLink="/construire-un-capteur" mat-button cdkMenuItem>Construire un capteur</a>
        <span class="spacer"></span>
        <a routerLink="/nous-contacter" mat-button cdkMenuItem>Nous contacter</a>
        <span class="spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>