<h2 mat-dialog-title>Installer DHT Connect</h2>
<mat-dialog-content class="mat-typography">
    <h3>iOS 18.0 et + :</h3>
    <p class="mat-body">Installez <a href="https://altstore.io/#Downloads">AltStore Classic</a> puis cliquez sur le bouton ci-dessous.</p>
    <a mat-flat-button href="altstore://source?url=https://ordipj.github.io/AltstoreSource/index.json" target="_blank">Télécharger via AltStore</a>
    <p class="subtitle">Ou ajoutez la source https://ordipj.github.io/AltstoreSource/index.json à AltStore ou SideStore.</p>
    <h3>Android 12 et + :</h3>
    <p>Téléchargez l'apk ci-dessous lorsqu'il sera disponible.</p>
    <a mat-flat-button href="#" target="_blank" disabled>Télécharger l'APK</a>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Fermer</button>
</mat-dialog-actions>
