@use '@angular/material' as mat;
@use '../../m3-theme.scss';
@use '../../m3-darktheme.scss';

.icon {
    border-radius: 20%;
    width: 100px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0%;
}

h1 {
    font: var(--mat-sys-display-medium);
    margin: 0;
    padding-bottom: 15px;
}

.header {
    margin: 15px;
    padding: 0px;
}

.subtitle {
    font: var(--mat-sys-label-large);
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.buttons button {
    margin: 5px;
}

/*.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-image {
    min-width: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.carousel-button.left {
    left: -4px;
}

.carousel-button.right {
    right: -4px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #333;
}*/
  

p {
    font: var(--mat-sys-title-medium);
    text-align: center;
    margin: 0;
}

h1 {
    text-align: center;
}

.carousel {
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    width: 100%;
    scrollbar-width: none;
}
.carousel-item {
    scroll-snap-align: center;
    flex: 0 0 auto;
    margin: 0 auto;
    height: 100vh;
}

.carousel-item img {
    width: 100%;
    object-fit: contain;
    height: 100%
}

.buttons {
    display: grid;
    grid-template: 3em / 1fr 3em 3em;
    width: 100%;
}

.previous-button {
    grid-column: 2;
}

.next-button {
    grid-column: 3;
}